@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

* {
box-sizing: border-box;
}

body {
font-family: "IM Fell English", Georgia, Times, serif;
font-size: 20px;
background-color: #d98841;
background-image: url("../images/table.jpg");
background-size: cover;
background-repeat: no-repeat;
}

/* //////////////// */
/* DEFAULT ELEMENTS */
/* //////////////// */

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: /*"Diplomata SC",*/ Impact;
    font-weight: normal;
}
h2 {
  font-family: 'IM Fell English SC';
}

header h1 {
  margin: 8px 0 15px;
}

  #wrapper {
    width: 960px;
    margin: 10px auto;
    display: flex;
    }

    .left-content {
      background-color: rgba(255, 255, 255, .8);
    border-radius: 7px;
    padding: 20px;
    width: 60%;
    }
      #articles {
        display: inline-block;
        overflow: auto;
        padding: 15px 5px;
        margin-top: 10px;
        height: 700px;
      }

      .clip-btn {
        color: #fff;
        background-color: darkblue;
        padding: 5px 12px;
        border-radius: 5px;
      }

      .article-html {
        padding: 10px;
        margin: 10px;
        background-color: #d0c5b1;
        background-image: url("../images/paper.jpg");
        background-size: 60%;
        transform: rotate(0deg);
        -webkit-box-shadow: 2px 3px 7px 0px rgba(30,24,64,.65);
-moz-box-shadow: 2px 3px 7px 0px rgba(30,24,64,.65);
box-shadow: 2px 3px 7px 0px rgba(30,24,64,.65);
        cursor: pointer;
      }

      .article-html p{
        margin: 3px;
      }
        .article-html .headline {
          font-family: 'IM Fell English SC';
          font-size: 24px;
          font-weight: bold;
        }
        .article-html .summary {
          font-size: 18px;
          line-height: 1em;
        }

        .article-html .headline a:hover {
          color: rgba(0, 0, 0, 0.65);
        }

      /* NOTES */
        .right-content {
          display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 30%;
        }

      #new-note #titleinput,
      #new-note #bodyinput {
        font-family: 'Shadows Into Light';
        letter-spacing: 2px;
      }

      #new-note {
        float: right;
        padding: 20px;
      }

      #notes{
        
      }
      .note-header {
        text-align: center;
        padding: 20px;
      }

      .note-header h2 {
        background-color: rgba(255, 255, 255, .65);
        border-radius: 7px;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }