@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|IM+Fell+English');

* {
box-sizing: border-box;
}

body {
font-family: "IM Fell English", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
background-color: #eeebd6;
background-image: url("../images/paper.jpg");
background-size: 60%;
}

/* //////////////// */
/* DEFAULT ELEMENTS */
/* //////////////// */

a {
    color: darkblue;
    text-decoration: none;
}

h1 {
    font-family: /*"Diplomata SC",*/ Impact;
    font-weight: normal;
}

  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }